.richtext {
  font-family: "Oswald", "Helvetica", "Roboto", sans-serif;
  text-align: left;
  padding: 2rem;
  padding-bottom: 0;
  overflow: auto;
  max-width: 64rem;
  margin: 0 auto;
}

.richtext p {
  display: flex;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.7rem;
}

.richtext strong,
.richtext em {
  display: contents;
  margin: 0 4px;
}

.richtext a {
  display: contents;
}

.richtext h1 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 2.8rem;
  margin: 2rem 0 1.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}

.richtext h2 {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 2.6rem;
  margin: 2rem 0 1.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}

.richtext h3 {
  font-size: 1.4rem;
}

.richtext li {
  margin: .4rem 0;
}

.richtext li li {
  margin: .1rem 0;
}

.richtext img {
  margin: 0 auto;
  max-width: 100%;
}

.richtext blockquote {
  margin: 1em 0;
  background-color: #f8ffff;
  color: #276f86;
  padding: 1em 1.5em;
  box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;
  border-radius: .28571429rem;
}

.richtext blockquote p {
  opacity: .85;
  margin: .75em 0;
}