.richtext {
  font-family: "Oswald", "Helvetica", "Roboto", sans-serif;
  text-align: left;
  padding: 2rem;
  padding-bottom: 0;
  overflow: auto;
  max-width: 64rem;
  margin: 0 auto;
}

p {
  display: flex;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.7rem;
}

strong,
em {
  display: contents;
  margin: 0 4px;
}

a {
  display: contents;
}

h1 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 2.8rem;
  margin: 2rem 0 1.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 2.6rem;
  margin: 2rem 0 .9rem 0;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1.4rem;
}

li {
  margin: .4rem 0;
}

li li {
  margin: .1rem 0;
}

img {
  margin: 0 auto;
  max-width: 100%;
}

blockquote {
  margin: 1em 0;
  background-color: #f8ffff;
  color: #276f86;
  padding: 1em 1.5em;
  box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;
  border-radius: .28571429rem;
}

blockquote p {
  opacity: .85;
  margin: .75em 0;
}

pre {
  font-family: "Oxygen", monospace;
  font-size: 1.05rem;
  border-radius: 4px;
}

table {
  margin: 2rem 0;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid #AAAAAA;
  padding: 8px;
}

table tbody td {
  font-size: 14px;
}

table tr:nth-child(even) {
  background: #F5F5F5;
}

table thead {
  background: #1ea7fd;
}

table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}

table tfoot td {
  font-size: 14px;
}